body {
    margin: 0;
    font-family: "Noto Serif JP", serif;
}

img {
    max-width: 100%;
    height: auto;
}

.hero {
    width: 100%;
    height: 913px;
    position: relative;
    overflow: hidden;
}

.hero-bg {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    font-family: "Noto Serif JP", serif;
    color: white;
    font-weight: lighter;
    position: absolute;
    top: 20%;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 2.0;

}

.big-white {
    font-size: 1.2em;
}

.big-gold {
    font-size: 1.4em;
    color:#FFD700;
}

.hero .btn {
    display: inline-block;
    text-align: center;
    background: linear-gradient(45deg, #FFD700, #b8860b);
    color: #000;
    font-size: 1.1rem;
    padding: 10px 28px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0,3,);
    margin-top: 20px;
    font-weight: bold;
}

.gold-gradient {
    margin-top: 50px;
    font-size: 2.0rem;
    background: linear-gradient(45deg, #FFD700, #B8860B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

@media (max-width: 768px) {
  .hero-text {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .hero-text h1 {
    font-size: 1.5rem;
  }
  .big-white, .big-gold {
    font-size: 1.6rem;
  }
}

.content-decription {
    text-align: center;
    font-size: 20px;
    padding: 55px 220px;
    font-weight: lighter;
    font-family: "Noto Serif JP", serif;
}

.all-in-one {
    width: 100%;
    height: 804px;
    position: relative;
    overflow: hidden;
}

.all-in-one-bg {
    width: 100%;
    height: auto;
    display: block;
}

.all-in-one-text {
    font-family: "Noto Serif JP", serif;
    color: black;
    position: absolute;
    top: 15%;
    left: 10%;
}

.all-in-one-text h1 {
    font-size: 70px;
    line-height: 2.0;
    font-weight: lighter;
}

.all-in-one-kanji {
    font-size: 90px;
}

.all-in-one-big {
    font-size: 120px;
}

.ingredient {
    width: 100%;
    height: 960px;
    position: relative;
    overflow: hidden;
}

.ingredient-bg {
    width: 100%;
    height: auto;
    display: block;
}

.ingredient-text {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
    font-family: "Noto Serif JP", serif;
    color: #000;
    font-size: 2rem;
    font-weight: normal;
}

.ingredient-decription {
    font-size: 2rem;
    z-index: 5;
    font-family: "Noto Serif JP", serif;
    color: #000;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.6);
}

.decription1 {
    position: absolute;
    top: 200px;
    left: 360px;
}

.decription3 {
    position: absolute;
    top: 434px;
    left: 270px;
}

.decription2 {
    position: absolute;
    top: 328px;
    left: 909px;
}

.medium {
    font-size: 40px;
}

.large {
    font-size: 60px;
}

.score {
    width: 100%;
    height: 604px;
    position: relative;
    overflow: hidden;
}

.score-bg {
    width: 100%;
    height: auto;
    display: block;
}

.score-text {
    position: absolute;
    top: 2.5%;
    left: 55%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
    font-family: "Noto Serif JP", serif;
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
}

.score-large {
    color: #000;
    font-size: 4rem;
}

.score-decription {
    position: absolute;
    top: 40%;
    left: 63%;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-bottom: 90px;
    font-size: 2rem;
}

.score-decription .investigation {
    font-size: 1rem;
}

.score-int {
    font-size: 7rem;
    color: #FFD700;
}

.price-section {
    position: relative;
    width: 100%;
    height: 789px; 
    overflow: hidden;
}

.price-bg {
    width: 100%;
    height: auto;
    display: block;
}

.price-content {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    font-family: "Noto Serif JP", serif;
    color: #fff;
}

.price-normal {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.price-normal .price-value {
    font-size: 2.2rem;
    margin: 0 10px;
}

.price-special {
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.price-special .price-value-gold {
    font-size: 3rem;
    color: #FFD700;
    margin: 0 10px;
}

.price-content .btn {
    display: inline-block;
    text-align: center;
    background: linear-gradient(45deg, #FFD700, #b8860b);
    color: #000;
    font-size: 1.1rem;
    padding: 10px 28px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0,3,);
    margin-top: 20px;
    font-weight: bold;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: "Noto Serif JP", serif;
    font-size: 1rem;
}

/*ここからレスポンジブ.....は諦めました\(^o^)/オワタ*/



